
.card{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaeaea;
    margin: 30px auto;
    padding: 25px;
    border-radius: 5px;

}

.card img{
    width: 400px;
    height: 380px;
    border-radius: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.info div{
    color: rgb(64, 64, 64);
    font-size: 0.9rem;
}
.info div p{
    color: rgb(110, 110, 110);
    line-height: 1.8rem;
    font-size: 0.85rem;
}