.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: calc(100% - 200px);
    height: fit-content;
}

.card{
    width: 310px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaeaea;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;

}

.card img{
    width: 150px;
    height: 130px;
    border-radius: 3px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.info button{
    width: 80px;
    padding: 5px 10px;
    font-size: 0.7rem;
    border: none;
    background-color: #a62626;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.info div{
    color: grey;
    font-size: 0.9rem;
}